.content-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10px;
}

.content-titles{
  width: 50%;
  margin-top: 100px;
}

.content-titles h1 {
  color: black;
  font-size: 4rem;
}

.content-titles h3 {
  color: #eb812a;
}

.content-foto{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #e0e00cac;
  background-color: rgba(219, 211, 211, 0.815);
}

.content-foto img {
  height: 100%;
  margin-left: 50px;
}

.title-default{
  color: #ef8a37;
  font-size: 30px;
   
}

.content-main{
  padding-left: 5%;  
  padding-right: 5%;
  margin-top: 80px;
  display: grid;

  grid-template-columns: 1fr 1fr;
  
}

.content-icon{
  display: flex;
  
}

.raya{
  height: 20px;
  width: 1px;
  border: solid;
  margin: 0 0px;
  color: #000;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

.parrafo{
  padding-right: 7%;
}

.lenguaje-container{
  display: flex;
}

.icon-item{
  margin-top: 4px;
}

.container-form{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-form form{
  width: 50%;
  margin-bottom: 20px;
}
